spring.datasource.password=
# para criar a senha vai no gerenciador da conta do email -> senha de app e cria um novo
spring.mail.password=SUA_SENHA_DE_APP_AQUI
jwt.secret=string_de_pelo_menos_32_caracteres
jwt.expiration=1000000